POSTGRES_DB=voluntplus
POSTGRES_USER=voluntplus
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5433

DB_URL=jdbc:postgresql://localhost:5433/voluntplus
DB_USERNAME=voluntplus
DB_PASSWORD=change-me

FRONTEND_URL=http://localhost:3000
CLERK_ISSUER_URI=
APP_IMAGE_DIR=./data/images
APP_PUBLIC_BASE_URL=http://localhost:8080
